* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: system-ui;
    font-weight: 300;

}
body{
    min-width:80vw;
}
/*-------------------------------------------HEADER-----------------------------------------------------*/
 

 
header {
    background-color: rgb(46, 46, 80);
    color: white;
    padding-left: 1.5vw;
    padding-right: 1.3vw;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
 
.container_nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8vh;
}
 
 
.date_conference {
    color: rgb(111, 111, 170); 
    font-size: 1.3rem; 
}
 
nav {
    text-transform: uppercase;
    
}
 
.en_tete {
    display: flex;
}
 
nav ul {
    display: flex;
    width: auto;
    
}
 
nav li {
    margin-inline: 5px;
    list-style: none;
    font-weight: bold;
   
   
}
 .container_nouvelle_date{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }
.titre_nouvelle, .titre_conference {
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
  
}
 
.container_creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 8vh;
    line-height: 1.5;
    background-color: rgb(46, 46, 80);
}
 
.creation {
    font-size: 2rem;
    font-weight: 100;
    width: 70%;
    text-align: center;
    color: rgb(111, 111, 170);
    font-weight: lighter;
}
 
.creation_texte {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
 
.container_nav li {
    font-weight: 400;
}



/*-----------------------------------------SECTION CENTRALE---------------------------------------------------*/
.presentation{
   
    background: linear-gradient(
        90deg, rgba(2,0,36,1) 0%,
     rgba(111,255,173,1) 0%,
      rgba(255,207,219,1) 100%,
       rgba(0,212,255,1) 100%);
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       padding-bottom: 3rem;
       text-align: center;
       padding-inline: 6rem;
       padding-top:2rem;
       
}
.presentation p{
    font-size: 1.5rem;
}
.conferenciers{
    width: 100%;
    padding-left: 3rem;
    
}
.conferencier{
padding-top: 4rem;
display: flex;
justify-content: space-between;
}
.chaque_conferencier{
  display: flex;
  flex-direction: column;
  gap: 2rem;  
}
.photo_legende{
   padding-right: 4rem; 
   height: 30%;
}
img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/*------------------------------------------- footer -----------------------------------------------------*/
 .container_pied{
    min-width: 100vw;
 }
footer p {
    margin: 0;
    margin-right: 200px;
    color: white;
}
 
footer ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
}
 
footer li {
    color: white;
    font-weight: 400;
    margin-right: 20px;
}
 
footer {
    min-width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* aligner selong x-axis */
    align-items: center;
    /* aligner selon y-axis */
    background-color: rgb(46, 46, 80);
    padding-top: 60px;
    padding-bottom: 20px;
    margin-top: 3rem;
}
 