*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 
.container_en_haut{
    background-color: rgb(46, 46, 236);
    color: white;
    padding-top: 1vh;
    padding-bottom: 5vh;
    padding-left: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 17px;
   
}
.container_nav{
display: flex;
flex-direction: column;
gap: 3rem;
}

header{
    display: flex;
    justify-content: space-between;

}

.date_conference{
color: rgb(61, 231, 243);
}
nav{
    text-transform: uppercase;
}
.creation{
    color: rgb(61, 231, 243);  
    font-weight: lighter;
}

.en_tete {
    display: flex;
   
    
    
}

nav ul {
    display: flex;

    width: auto;
}

nav li {
    margin-inline: 5px;
    list-style: none;
    font-weight: bold;
}

.titre_conference {
    text-transform: uppercase;
    font-size: 2rem;
}

.cta_inscription {
    border: 1px white solid;
    color: white;
    text-transform: uppercase;
    padding-top: 2vh;
    padding-left: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vh;
    margin-bottom: 10px;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

