* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: system-ui;
    font-weight: 300;

}

/*-------------------------------------------HEADER-----------------------------------------------------*/

.container_en_haut {
    background-color: rgb(46, 46, 80);
    color: white;
    padding-top: 1vh;
    padding-bottom: 5vh;
    padding-left: 1.5vw;
    padding-right: 1.3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 17px;

}

.container_nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

header {
    display: flex;
    justify-content: space-between;
}

.date_conference {
    color: rgb(111, 111, 170);
    font-size: 1.3rem;
}

nav {
    text-transform: uppercase;
}

.en_tete {
    display: flex;
}

nav ul {
    display: flex;
    width: auto;
}

nav li {
    margin-inline: 5px;
    list-style: none;
    font-weight: bold;
}

.titre_conference {
    text-transform: uppercase;
    font-size: 3rem;
}

.container_creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    line-height: 1.5;
}

.creation {
    font-size: 2rem;
    font-weight: 100;
    width: 70%;
    text-align: center;
    color: rgb(111, 111, 170);
    font-weight: lighter;
}

.creation_texte {
    text-align: center;
}

/*BOUTON INSCRIPTION*/

.cta_inscription {
    border: 1px white solid;
    color: white;
    text-transform: uppercase;
    padding-top: 2.5vh;
    padding-left: 2vh;
    padding-bottom: 2.5vh;
    padding-right: 2vh;
    margin-bottom: 10px;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

/*-----------------------------------------SECTION CENTRALE---------------------------------------------------*/
.milieu_de_page{
    display: flex;
    justify-content: start;
    padding-left: 1vw;
    color:rgb(111, 111, 170) ;
}
th {
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    
}

table{
    height: 54vh;
    width: 70%;
    min-width:300px;
    max-width: 72%;
    margin-top: 5vh;
    
}
img {
    height: 31vh;
    width: 27vw;
    object-fit: cover;
    
}


/*------------------------------------------- footer -----------------------------------------------------*/

footer p {
    margin: 0;
    margin-right: 200px;
    color: white;
}

footer ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
}

footer li {
    color: white;
    font-weight: 400;
    margin-right: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* aligner selong x-axis */
    align-items: center;
    /* aligner selon y-axis */
    background-color: rgb(46, 46, 80);
    height: 100px;
}


.copyright {
    color: white;
    border: 2px white solid;
    border-radius: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    margin-right: 4px;
}