/* general */

body {
    font-family: system-ui;
    font-weight: 300;
    color: gray;
    margin: 0px; /* remove default margin */
}

h1, h2, h3 {
    font-weight: normal; /* higher specificity */
    margin: 0; /* remove default margin */
}

a {
    text-decoration: none;
    color: white;
}

/*-------------------------------------------HEADER-----------------------------------------------------*/
 

 
header {
    background-color: rgb(46, 46, 80);
    color: white;
    padding-left: 1.5vw;
    padding-right: 1.3vw;
    display: flex;
    flex-direction: column;
    
   
}
 
.container_nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8vh;
}
 
 
.date_conference {
    color: rgb(111, 111, 170); 
    font-size: 1.3rem; 
}
 
nav {
    text-transform: uppercase;
    
}
 
.en_tete {
    display: flex;
}
 
nav ul {
    display: flex;
    width: auto;
    
}
 
nav li {
    margin-inline: 5px;
    list-style: none;
    font-weight: bold;
   
   
}
 .container_nouvelle_date{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }
.titre_nouvelle, .titre_conference {
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
   
}
 .titre_conference {
   
    padding-bottom: 0;
    position: relative;
    bottom: -8px;
    position: relative;

}
 
.container_creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 8vh;
    line-height: 1.5;
    background-color: rgb(46, 46, 80);
}
 
.creation {
    font-size: 2rem;
    font-weight: 100;
    width: 70%;
    text-align: center;
    color: rgb(111, 111, 170);
    font-weight: lighter;
}
 
.creation_texte {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
 
.container_nav li a{
    font-weight: 400;
    color: white;
    text-decoration: none;
}




/* changed the color of top right element to gray */
/* changed li:last-child margin-right to 0 */

/* header 2 */

.header2 {
    background: linear-gradient( 90deg, rgba(2,0,36,1) 0%, rgb(149 236 186) 0%, rgb(255 251 209) 100%, rgba(0,212,255,1) 100%);
    text-align: center;
    padding: 30px;
}

.header2 p {
    margin-bottom: 0px; /* remove default margin */
    line-height: 1.5;
}


/* main section */

main {
    padding: 40px 60px 40px 60px; /* add padding */
}


/* main section, left column */

ul {
    list-style-type: square;
} 


/* main section, right column */

.acheter {
    background-color: rgb(63, 88, 72);
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
}

.acheter:hover {
    color: rgb(186, 28, 28);
    cursor: pointer;
}

textarea {
    height: 60px;
}

.empty_row{
    height: 10px;
}

.container_form {
    margin: auto;
    font-weight: bold;
}


/* footer */
 
footer p {
    margin: 0;
    margin-right: 200px;
}
 
footer ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
}
 
footer li {
    color: white;
    font-weight: 400;
    margin-right: 20px;
    overflow: auto;
}
 
footer {
    display: flex;
    flex-direction: row;
    justify-content: center; /* aligner selong x-axis */
    align-items: center; /* aligner selon y-axis */
    background-color: rgb(46, 46, 80);
    padding-top: 60px;
    padding-bottom: 20px;
    overflow: auto; /* fix for items to stay in parent container */
}

footer a:hover {
    color:rgb(237, 218, 68);
}
