* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: system-ui;
    font-weight: 300;

}
body{
    min-width:80vw;
   
}
/*-------------------------------------------HEADER-----------------------------------------------------*/
 

 
header {
    background-color: rgb(46, 46, 80);
    padding-left: 1.5vw;
    padding-right: 1.3vw;
    display: flex;
    justify-content: space-between;
   
}
 

header a{ 
text-decoration: none;
color: white;
}

 
nav {
    text-transform: uppercase;
    
}
 

 
nav ul {
    display: flex;
    width: auto;
    padding-top: 40px;
    margin-bottom: 47px;
}
 
nav li {
    margin-inline: 5px;
    list-style: none;
    font-weight: bold;
   
   
}


.titre_conference {
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
    text-decoration: none;
    color: white;
    padding-bottom: 0;
    position: relative;
    bottom: -8px;
    position: relative;
}

a:hover{
color: black
 }

.container_nav{
    display: flex;
    flex-direction: column;
    
}

 .date {
    color: rgb(111, 111, 170);
    margin-top: 46px;
    font-size: 1.3rem; 
    padding-left: 5px;
 }

.container_creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 8vh;
    line-height: 1.5;
    background-color: rgb(46, 46, 80);
}
 
.creation {
    font-size: 2rem;
    font-weight: 100;
    width: 70%;
    text-align: center;
    color: rgb(111, 111, 170);
    font-weight: lighter;
}
 
.creation_texte {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
 
.container_nav li a{
    font-weight: 400;
    color: white;
    text-decoration: none;
}


/* changed the color of top right element to gray */
/* changed li:last-child margin-right to 0 */

/* header 2 */

.header2 {
    background: linear-gradient( 90deg, rgba(2,0,36,1) 0%, rgb(149 236 186) 0%, rgb(255 251 209) 100%, rgba(0,212,255,1) 100%);
    text-align: center;
    padding: 30px;
}

.header2 p {
    margin-bottom: 0px; /* remove default margin */
    line-height: 1.5;
}


/* main section */

main {
    padding: 40px 60px 40px 60px; /* add padding */
}


/* main section, left column */

ul {
    list-style-type: square;
} 


/* main section, right column */

.acheter {
    background-color: rgb(63, 88, 72);
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
}

.acheter:hover {
    color: rgb(186, 28, 28);
    cursor: pointer;
}

textarea {
    height: 60px;
}

.empty_row{
    height: 10px;
}

.container_form {
    margin: auto;
    font-weight: bold;
}


/*------------------------------------------- footer -----------------------------------------------------*/
.container_pied{
    min-width: 100vw;
 }
footer p {
    margin: 0;
    margin-right: 200px;
    color: white;
}
 
footer ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
}
 
footer a {
    color: white;
    font-weight: 400;
    margin-right: 20px;
    text-decoration: none;
}
footer a:hover {
    color: black;
    cursor: pointer;
}
 
footer {
    min-width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* aligner selong x-axis */
    align-items: center;
    /* aligner selon y-axis */
    background-color: rgb(46, 46, 80);
    padding-top: 60px;
    padding-bottom: 20px;
}
 